//indent, space
!!! 5
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        link(rel='stylesheet', href='stylesheets/main.css', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Lato:100,300', rel='stylesheet', type='text/css')
        title Next Library
    body
        nav
            #home(onclick='location.href=\'/\';')
                | Next Library
        #writePopUp
            #writeTitle
                | 책을 찾자
            #writePopUpClose
                img#writeClose(src='/images/userInfoClose.png')
            #writeSection
                form(action = '/searchBookForRequest', method = 'post')
                    input.inputCell(type='text', name='bookTitle', placeholder = ' Book Title (맨 앞만 ㅇㅇ)')   
                    button#searchButton(type='submit')
                        | 검색
                #searchResult
                    table#searchTable
                        colgroup
                            col.c1
                            col.c2
                            col.c3             		
                        tr(style = 'border-bottom : 1px solid')
                            td#table1(style = 'border-right: 1px solid #a5abb2;')
                                | FG-4
                            td#table2(style = 'border-right: 1px solid #a5abb2;')
                                | 이 책 제목
                            td#table3
                                | 가출중                        
                        tr
                            td#table1(style = 'border-right: 1px solid #a5abb2; border-top: 1px solid #a5abb2;')
                                | FG-3
                            td#table2(style = 'border-right: 1px solid #a5abb2; border-top: 1px solid #a5abb2;')
                                | 이 책 제목
                            td#table3(style = 'border-top: 1px solid #a5abb2;')
                                | 가출중
            form#searchForm(action = '/writeComplete', method = 'post')
                input#writeTitleInput(type = 'hidden', name = 'bookSendTitle')
                button#writeButton(type = 'submit')
                        | 책을 찾아요!   
        #userInfoPopUp
            #userInfoTitle
                | 회원정보
            #userInfoPopUpClose
                img#userInfoClose(src='/images/userInfoClose.png')
            #infoSection
                #userName
                    | #{userName}
                #record
                    | 지금까지 #{userFindCount}번 책을 찾으셨어요!
        #settingPopUp
            #settingPopUpClose
                img#settingClose(src='/images/userInfoClose.png')
            #logoutButton(onclick ='location.href = \'/logout\';')
                | 로그아웃
        #contentsView
            aside
                #writeRequest
                    img#writeIcon(src='/images/write.png')
                #userInfoRequest
                    img#userIcon(src='/images/user.png')
                #settingRequest
                    img#settingIcon(src='/images/setting.png')
                #toWatingListButton(onclick='location.href=\'#waitingList\';')
                    | 대기
                #toCompleteListButton(onclick='location.href=\'#completeList\';')
                    | 완료
            #waitingList
                .listTitle
                    .title
                        | 이 책들이 라이브러리에 가고 싶어해요
                    .line
                each card in cards
                    if (card.status === 0)
                        .bookCard
                            .topLineUpper
                            .topLineBottom
                            .bookCardTitle
                                | Book Card
                            .findingMessage
                                | #{card.userName} 님이 찾습니다!
                            .bookTitle
                                | #{card.title}
                            .bookNumber
                                | 라이브러리 넘버 : #{card.location}
                            .returnCompleteButton(onclick='location.href=\'/changeCardStatus/#{card.cardNum}\';')
                                | 반납완료                    
            #completeList
                .listTitle
                    .title
                        | 이 책들은 라이브러리에 도착했어요!
                    .line
                each card in cards
                    if (card.status === 1)
                        .bookCard
                            .topLineUpper
                            .topLineBottom
                            .bookCardTitle
                                | Book Card
                            .findingMessage
                                | #{card.userName} 님이 찾습니다!
                            .bookTitle
                                | #{card.title}
                            .bookNumber
                                | 라이브러리 넘버 : #{card.location}         
        footer
            | 2014   YoungKim   @nhnnext.org
script(src='/javascripts/main.js')

